@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;1,6..12,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Nunito Sans', sans-serif;
}
.paginate{
  display: flex;
  align-items: center;
  justify-content: end;
}
.paginate li{
  width: 30px;
  height: 30px;
  border: 1px solid rgb(159,159,159);
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.paginate li.selected{
 background-color: #288e4c;
 color:#fff;
}